<!DOCTYPE html>

<html>

  {% include /head.html %}

	<body id="top">
       
        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <br><br>
                <h2>Enactus UFAL</h2>
                <p>As palavras que movem o time Enactus UFAL são <b>Acreditar e Transformar.</b> <br> E acreditar na transformação é o que faz de nós um time: <b>o time Enactus UFAL!</b></p>
                <br>
            </div>  
        </section>
       
        {{ content }}

        <!-- Facebook Widget on footer -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- ### -->
        
        {% include /footer.html %}

    </body>
</html>